.git/
.vscode/
.idea/
*.exe
*.log
*.tmp
*.temp
node_modules/
frontend/node_modules/
frontend/.next/
mobile/.dart_tool/
mobile/build/
mobile/.pub-cache/
**/storage/
**/tmp/
**/cache/
**/*.db
**/*.sqlite
